@media (max-width:768px) {
    
.login-section{
    width: 50%;
}
.text-area{
   width:  50%;
}
.container img {
    width: 70%;
}
.text-area h1{
    width: 50%;
    padding-top: 50px;
    
}
.text-area h3{
    width: 50%;
}

}

@media (max-width:425px) {
    .login-section{
        width: 100%;
    }
    .text-area{
    display: none;
    }
    
.login-section img {
  width: 50%;
  height: 4%;
  position: relative;
  bottom: 50px;
}
}
