* {
  margin: 0%;
  padding: 0%;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: rgb(18, 194, 233);
  background: linear-gradient(
    297deg,
    rgba(18, 194, 233, 1) 20%,
    rgba(246, 79, 245, 1) 82%
  );
}

.text-area {
  width: 67%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;

}

.container img {
  width: 50%;
  height: 16%;
  margin-bottom: 14%;
}

.text-area h1 {
  font-size: 300%;
  position: relative;
  bottom: 85px;

  font-weight: 300;
}

.text-area h3 {
  font-size: 140%;
  position: relative;
  bottom: 73px;

  font-weight: 500;
}

.login-section {
  width: 33%;
  height: 100vh;

  background-color: white;
  display: flex;
  align-items: center;

  justify-content: center;
  flex-direction: column;
}

.login-section img {
  width: 31%;
  height: 4%;
  position: relative;
  bottom: 50px;
}

.login-section h2 {
  width: 25%;
  height: 3%;

  position: relative;
  bottom: 70px;
  left: 20px;
  font-weight: 600;

}

.form {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form input {
  width: 75%;
  border: none;
 
  border-bottom: 1px #3399cc solid;
  font-size: 20px;
}

.form button {
  width: 75%;
  height: 40px;

  margin: 25px;

  background-color: #3399cc;
  border: none;
  border-radius: 2px;
  color: aliceblue;
  font-size: 19px;
}

.links {
  width: 75%;
  font-size: 15px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.links a{
    text-decoration: none;
    color: #3399cc;
}
.create-btn {
  width: 75%;
  height: 40px;
  border: 1px solid ;
  border-color: #3399cc;
background-color: #FFFFFF;
  margin: 25px;
  color: #3399cc;
  border-radius: 1px;

  font-size: 19px;
}

.google-btn {
  width: 75%;
  height: 40px;
  border: 1px solid rgb(136, 133, 133);
  color: rgb(54, 49, 49);
background-color: #FFFFFF;
  margin: 5px;
  border-radius: 1px;

  font-size: 19px;
}